/* bootstrap */
.container {
  padding: 0 30px;
}

.list-inline {
  margin-left: 0;
}

#carousel-catalog {
  background: url(../img/bg-slider-top.png) no-repeat, url(../img/bg-slider-bottom.png) no-repeat 0 100%;
  height: 400px;
}

.carousel-inner {
  margin-left: 20px;
  height: 100%;
}

.carousel-inner .item {
  height: 100%;
  margin-top: 50px;
}

.carousel-caption {
  display: inline-block;
  left: 0;
  margin-left: -30px;
  position: relative;
  text-shadow: none;
}

.carousel .item .for {
  color: #737373;
  display: block;
  font-size: 15px;
  margin-right: 40px;
  text-align: right;
}
.carousel .item .we-do {
  color: #333;
  font-size: 57px;
  line-height: .7;
}
.carousel .item .what {
  color: #c2303d;
  font-size: 122px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
}
.carousel .item .and-other {
  color: #737373;
  font-size: 22px;
  margin-top: -15px;
}
.carousel .item a.to-catalog{
  background-color: #c2303d;
  color: #fff;
  float: left;
  font-size: 18px;
  margin-top: 10px;
  padding: 3px 20px;
  text-decoration: underline;
}

.carousel-indicators .active {
  background: url(../img/active_dot.png) no-repeat;
  border: none;
  height: 16px;
  width: 16px;
}

.carousel-indicators li {
  background: url(../img/no_active_dot.png) no-repeat;
  border: none;
  height: 16px;
  margin: 0;
  width: 16px;
}

.carousel-control {
  width: 8%;
}
.carousel-control.left {
  background: url(../img/left_arrow.png) no-repeat 20px 50%;
}
.carousel-control.right {
  background: url(../img/right_arrow.png) no-repeat 20px 50%;
}

.vcenter > div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/*
.row > [class*='col-']:first-child {
  padding-left: 30px;
}
.row > [class*='col-']:last-child {
  p adding-right: 0;
}

.no-gutter > [class*='col-'] {
  padd ing-right:0;
  padd ing-left:0;
}

.vcenter > [class*='col-'] {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/* bootstrap */

@font-face {
  font-family: PTSans-Regular;
  src: url(../fonts/PTSans-Regular.ttf);
}
@font-face {
  font-family: PTSans-Bold;
  src: url(../fonts/PTSans-Bold.ttf);
}

body {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  color: #000;
  font-family: PTSans-Regular, Arial, sans-serif;
  font-size: 16px;
}
body a:hover {
  text-decoration: none;
}

.line {
  height: 4px;
}
.line-top {
  background: url(../img/header-redline.jpg) repeat-x;
}
.line-bottom {
  background: url(../img/footer-redline.jpg) repeat-x;
}

.bg-main {
  background: #fff;
}

/* header */
.h-info {
  margin-top: 6px;
}

.part-info {
  color: #000;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 10px;
}
.part-img {
  float: left;
  margin-top: 22px;
}

.part-info small {
  display: block;
}

.part-info strong {
  display: block;
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 23px;
}

.part-info a {
  color: #09F;
}
.part-info span {
  display: block;
  margin-top: -5px;
}

#h-search {
  position: relative;
}
#h-search input[type="text"] {
  border: 1px solid #e5e5e5;
  height: 35px;
  padding-left: 40px;
  width: 100%;
}
#h-search input[type="submit"] {
  position: absolute;
  height: 100%;
  width: 30px;
  background: url(../img/ico-search.png) no-repeat 10px 50%;
  border: 0;
}

#h-search input[type="text"]::-webkit-input-placeholder {color:#333;}
#h-search input[type="text"]::-moz-placeholder          {color:#333;}
#h-search input[type="text"]:-moz-placeholder           {color:#333;}
#h-search input[type="text"]:-ms-input-placeholder      {color:#333;}

.h-nav {
  margin-top: 15px;
}
#nav-main {
  background: #8cba62;
}
#nav-main li {
  padding: 4px 16px;
}
#nav-main li:first-child {
  padding-left: 30px;
}
#nav-main li.active {
  background: #517539;
}
#nav-main li.active a{
  text-decoration: none;
}
#nav-main a {
  color: #fff;
  text-decoration: underline;
}
.list-unstyled {
  margin: 0;
  padding: 0;
}
.list-unstyled > li {
  list-style: none;
}
/* header */


/* main */
#main {
  margin-top: 20px;
}
/* sidebar */
#sidebar-left {
  padding-left: 20px;
}
#sidebar-left li {
  margin-top: 10px;
}
#sidebar-left h2, #sidebar-left a {
  color: #517539;
}
.title-sidebar {
  background: url(../img/ico-catalog.png) no-repeat;
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 19px;
  margin: 0;
  padding-left: 30px;
}
#sidebar-left a {
  font-size: 14px;
}
#sidebar-left li:hover {
  background-color: #e5e5e5;
  cursor: pointer;
  margin-left: -20px;
  padding-left: 20px;
}
/* sidebar */


/* main */