/* bootstrap */
.container {
  padding: 0 30px;
}

.vcenter > div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/*
.row > [class*='col-']:first-child {
  padding-left: 30px;
}
.row > [class*='col-']:last-child {
  p adding-right: 0;
}

.no-gutter > [class*='col-'] {
  padd ing-right:0;
  padd ing-left:0;
}

.vcenter > [class*='col-'] {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/* bootstrap */

@font-face {
  font-family: PTSans-Regular;
  src: url(../fonts/PTSans-Regular.ttf);
}
@font-face {
  font-family: PTSans-Bold;
  src: url(../fonts/PTSans-Bold.ttf);
}

body {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  color: #000;
  font-family: PTSans-Regular, Arial, sans-serif;
  font-size: 16px;
}

.line {
  height: 4px;
}
.line-top {
  background: url(../img/header_redline.jpg) repeat-x;
}
.line-bottom {
  background: url(../img/footer_redline.jpg) repeat-x;
}

.bg-main {
  background: #fff;
}

/* header */
#header {
  padding-top: 5px;
}

#main {
  padding-bottom: 5px;
}

.h-info {
  margin-top: 6px;
}

.part-info {
  color: #000;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 10px;
}
.part-img {
  float: left;
  margin-top: 22px;
}

.part-info small {
  display: block;
}

.part-info strong {
  display: block;
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 23px;
}

.part-info a {
  color: #09F;
}
.part-info span {
  display: block;
  margin-top: -5px;
}

#h-search {
  position: relative;
}
#h-search input[type="text"] {
  border: 1px solid #e5e5e5;
  height: 35px;
  padding-left: 40px;
  width: 100%;
}
#h-search input[type="submit"] {
  position: absolute;
  height: 100%;
  width: 30px;
  background: url(../img/ico-search.png) no-repeat 10px 50%;
  border: 0;
}

#h-search input[type="text"]::-webkit-input-placeholder {color:#333;}
#h-search input[type="text"]::-moz-placeholder          {color:#333;}
#h-search input[type="text"]:-moz-placeholder           {color:#333;}
#h-search input[type="text"]:-ms-input-placeholder      {color:#333;}

.h-nav {
  margin-top: 15px;
}
#nav-main {
  background: #8cba62;
}
#nav-main li {
  padding: 4px 18px;
}
#nav-main li:first-child {
  padding-left: 30px;
}
#nav-main li.active {
  background: #517539;
}
#nav-main li.active a{
  text-decoration: none;
}
#nav-main a {
  color: #fff;
  text-decoration: underline;
}
.list-unstyled > li {
  float: left;
  list-style: none;
}
/* header */


/* main */
#main {
  margin-top: 15px;
}
/* sidebar */

/* sidebar */


/* main */